{% extends 'main.html' %}
{% block content %}

{% if page == "add" %}

<section class="contaner-create">
    <div class="header-back">
      <a href="#">Books</a>
      <p>&#62;</p>
      <a href="#">New</a>
    </div> 
  
  <form class="add-new" method="POST">
      {% csrf_token %}
      <div class="header">
        <h3>New Book</h3>
        <input type="submit" class="btn-save btn-header" value="Save">
      </div >

      {% for f in form %}
      <div class="form">
        {{f.label}}
        {{f}}
      </div>
      {% endfor %}

  </form>
</section>

{% else %}

<section class="contaner-create">
    <div class="header-back">
      <a href="#">Books</a>
      <p>&#62;</p>
      <a href="#">New</a>
    </div> 
  
  <form class="add-new" method="POST">
      {% csrf_token %}
      <div class="header">
        <h3>Edit Book</h3>
        <a href="{% url 'delete-book' book.id %}" class="btn-d btn-delete">Delete</a>
        <input type="submit" class="btn-save btn-header" value="Save">
      </div >

      {% for f in form %}
      <div class="form">
        {{f.label}}
        {{f}}
      </div>
      {% endfor %}

  </form>
</section>

{% endif %}

{% endblock content %}