{% extends 'main.html' %}
{% block content %}

<section class="container">
    <div class="header">
      <h3>Books</h3>
      <a href="{% url 'add-book' %}" class="btn btn-header">Add New</a>
    </div >

    <div class="search">
      <input type="text" placeholder="Search title">
    </div>
  
    <header>
      <div class="col"></div>
      <div class="col">TITLE</div>
      <div class="col">AUTHOR</div>
      <div class="col">STATUS</div>
      <div class="col">CHECKED OUT BY</div>
    </header>
    {% for b in book %}
    <hr>
    <div class="row">
      <div class="col"><a href="{% url 'view-book' b.id %}" class="col-view">View</a></div>
      <div class="col">{{b.title}}</div>
      <div class="col">{{b.author}}</div>
      <div class="col">{{b.status}}</div>
      <div class="col">{{b.checked}}</div>
    </div>
    {% endfor %}

    <div class="pagination">
      <a href="#">&#60;</a>
      <p>Page 1</p>
      <a href="#">&#62;</a>
    </div>
</section>

{% endblock content %}