body{
    background-color: #F2F2F2;
    margin: 0;
}

.navbar{
    background-color: #fff;
    padding: 50px;
}

.navbtn{
    display: flex;
    max-width: 600px;
    background-color: yellow;
}

.container{
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 5px;
    padding: 2em;
    display: flex;
}

.table{
    background-color: yellow;
    margin: auto;
}

